

# phpstorm project files
aplicacion/.idea
.idea/*
stf/.idea/*

# Python virtual environment
venv/*

# netbeans project files
aplicacion/nbproject

# zend studio for eclipse project files
aplicacion/.buildpath
aplicacion/.project
aplicacion/.settings

# windows thumbnail cache
aplicacion/Thumbs.db

# composer vendor dir
aplicacion/vendor

# development support files
aplicacion/dev

# composer itself is not needed
composer.phar

# phpunit itself is not needed
aplicacion/phpunit.phar
# local phpunit config
aplicacion/phpunit.xml

# attachments and assets
aplicacion/web/attachment/*
aplicacion/web/assets/*

# test crawler :
aplicacion/views/user/crawler.php
